<div mat-dialog-content>
    <fuse-card class="flex-col w-full max-w-300 p-6 sm:py-12 sm:px-10 filter-pricing border-2 border-gray-100">
        <div class="text-4xl font-bold tracking-tight leading-tight">Personal</div>
        <div class="mt-2 text-lg font-medium tracking-tight text-secondary">Perfect for an individual or a small team
            starting to get bigger
        </div>
        <div class="w-8 h-1 my-10 rounded bg-accent"></div>
        <!-- Price -->
        <div class="flex items-baseline whitespace-nowrap">
            <div class="mr-2 text-2xl">USD</div>
            <div class="text-6xl font-semibold leading-tight tracking-tight">$6.00</div>
        </div>
        <!-- Price details -->
        <div class="flex flex-col mt-2 text-secondary">
            <div>billed monthly</div>
            <div><b>$6.00</b> billed yearly</div>
        </div>
        <!-- Features -->
        <div class="flex flex-col mt-12">
            <div class="font-semibold">Core features, including:</div>
            <div class="mt-4 space-y-2">
                <div class="flex">
                    <mat-icon
                        class="icon-size-5 text-green-600"
                        [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5"><b>10</b> projects</div>
                </div>
                <div class="flex">
                    <mat-icon
                        class="icon-size-5 text-green-600"
                        [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5"><b>5GB</b> storage</div>
                </div>
                <div class="flex">
                    <mat-icon
                        class="icon-size-5 text-green-600"
                        [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5">Analytics</div>
                </div>
                <div class="flex">
                    <mat-icon
                        class="icon-size-5 text-green-600"
                        [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5">Free mobile app</div>
                </div>
                <div class="flex">
                    <mat-icon
                        class="icon-size-5 text-green-600"
                        [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    <div class="ml-2 leading-5">Access to forums</div>
                </div>
            </div>

        </div>
        <!-- CTA -->
        <button
            class="fuse-mat-button-large mt-10"
            mat-stroked-button
            [color]="'primary'">
            Get Started
        </button>
    </fuse-card>

</div>
<div mat-dialog-actions class="mt-5">
    <button mat-button mat-dialog-close (click)="onNoClick()">Cancelar</button>
</div>

